<div class="layout-container">
    <div class="p-grid p-fluid">
        <div class="card">
            <div class="p-grid">
                <div class="p-col-12 p-md-6 p-lg-6">
                    <h1>Llamadas ilimitadas</h1>
                    <div class="p-grid">
                        <div class="p-col-12 p-md-6 p-lg-6">
                            <p>Llamadas de 5 minutos ilimitadas a celulares en todo México, EEUU y Canadá, a números fijos en 50 países, solo marca 55 4744 2703 + NIP (numero de empleado).</p>
                        </div>
                        <div class="p-col-12 p-md-6 p-lg-6">
                            <img src="./assets/demo/images/SNAC/LlamadasIlimitadas.jpg" alt="Logo" style="display: flex; margin-left: auto; margin-right: auto; width: 70%;">
                        </div>
                    </div>
                </div>
                <div class="p-col-12 p-md-6 p-lg-6">
                    <h1>Asistencia visual</h1>
                    <div class="p-grid">
                        <div class="p-col-12 p-md-6 p-lg-6">
                            <p>La red de especialistas brindará la atención que el beneficiario del programa requiera en sus consultorios o establecimientos a costos preferenciales, con los siguientes beneficios:
                            </p>
                            <ul>
                                <li>Ópticas descuentos del 10% al 20%.</li>
                                <li>Examen de la vista sin costo.</li>
                                <li>Descuentos de Micas de Tratamiento y otras líneas de armazón</li>
                            </ul>
                        </div>
                        <div class="p-col-12 p-md-6 p-lg-6">
                            <img src="./assets/demo/images/SNAC/AsistenciaVisual.jpg" alt="Logo" style="display: flex; margin-left: auto; margin-right: auto; width: 70%;">
                        </div>

                    </div>
                </div>
            </div>

            <div class="p-grid">
                <div class="p-col-12 p-md-6 p-lg-6">
                    <h1>Asistencia en cuidados de enfermería</h1>
                    <div class="p-grid">
                        <div class="p-col-12 p-md-6 p-lg-6">
                            <p>Asistencia en Cuidados de enfermeria acompañantes de salud en sus ramas de enfermería, auxiliares y acompañantes terapéuticos. Busca poder brindar una mejor calidad de vida.</p>
                            <p>Entre expertos como Enfermeros Generales, Enfermeros Auxiliares (Cuidadores) y Terapias Especiales. Nuestra cobertura es todo Ciudad de México y Área Metropolitana.</p>
                        </div>
                        <div class="p-col-12 p-md-6 p-lg-6">
                            <img src="./assets/demo/images/SNAC/Enfermeria.jpg" alt="Logo" style="display: flex; margin-left: auto; margin-right: auto; width: 70%;">
                        </div>
                    </div>
                </div>
                <div class="p-col-12 p-md-6 p-lg-6">
                    <h1>Red veterinaria</h1>
                    <div class="p-grid">
                        <div class="p-col-12 p-md-6 p-lg-6">
                            <p>
                                Zungu es una Red Veterinaria con beneficios hasta la comodidad de tu hogar. Evitas el estrés de tu mascota en traslado a la veterinaria, tiempo de espera y salir de su área de confort, además de convenirte a ti en optimizar tu tiempo, ya que los horarios
                                de atención son muy flexibles.
                            </p>
                            <ul>
                                <li>Cobertura en CDMX y Zona Metropolitana.</li>
                                <li>Martes a Sábado de 9am a 7pm.</li>
                                <li>Domingos de 9am a 4pm.</li>
                            </ul>
                        </div>
                        <div class="p-col-12 p-md-6 p-lg-6">
                            <img src="./assets/demo/images/SNAC/Veterinarios.jpg" alt="Logo" style="display: flex; margin-left: auto; margin-right: auto; width: 70%;">
                        </div>
                    </div>
                </div>
            </div>

            <div class="p-grid">
                <div class="p-col-12 p-md-6 p-lg-6">
                    <h1>BWIGO mobile Viajes</h1>
                    <div class="p-grid">
                        <div class="p-col-12 p-md-6 p-lg-6">
                            <p>Es la mejor plataforma de reserva de viajes, con acceso a miles de opciones de hoteles, renta de autos, traslados, atracciones opara que puedas organizar el viaje de tus sueños.</p>
                            <p>Contamos con los mejores proveedores en la industria de turismo para que siempre tengas a la mano los mejores servicios a los mejores precios.
                                <br>
                                <a href="http://viajes.bwigomobile.com" target="_blank">viajes.bwigomobile.com</a>
                            </p>
                        </div>
                        <div class="p-col-12 p-md-6 p-lg-6">
                            <img src="./assets/demo/images/SNAC/Viajes.jpg" alt="Logo" style="display: flex; margin-left: auto; margin-right: auto; width: 70%;">
                        </div>
                    </div>
                    <div class="p-grid">
                        <div class="p-col-12">
                            <a routerLink="/" pTooltip="Regresar">
                                <i class="material-icons">home</i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>