<block-ui>
    <div class="layout-container">
        <p-toast></p-toast>
        <div class="p-grid p-fluid">
            <div class="p-col-12">
                <div class="card no-margin">
                    <h1>Recuperación de contraseña. PLIIS.</h1>
                    <form name="formaRequisitos" *ngIf="!tokenSolicicitado" #formaRequisitos="ngForm" novalidate>
                        <div class="p-grid form-group p-input-filled">
                            <div class="p-col-12 p-md-4 p-lg-4"></div>
                            <div class="p-col-12 p-md-4 p-lg-4">
                                <span class="p-float-label">
                                    <input id="inputEmailAfiliado" type="email" pInputText #inputEmailAfiliado="ngModel"
                                           [(ngModel)]="emailAfiliado" name="inputEmailAfiliado"
                                           required="true"
                                           pTooltip="Le llegarán las instrucciones a su correo electrónico. Tiene 1 hora para terminar el proceso."/>
                                    <label for="inputEmailAfiliado">Escriba su correo electrónico</label>
                                </span>
                            </div>
                            <div class="p-col-12 p-md-4 p-lg-4"></div>
                        </div>

                        <div class="p-grid p-jc-center p-mt-2">
                            <div class="p-col-2">
                                <button pButton label="Generar token" icon="ui-icon-build" (click)="onGenerarToken()" [disabled]="!emailValido() || !formaRequisitos.valid"></button>
                            </div>
                        </div>

                    </form>
                    <div *ngIf="tokenSolicicitado">
                        <form name="formaRegistro" novalidate #formaRegistro="ngForm">
                            <div class="p-grid form-group p-input-filled" *ngIf="tokenSolicicitado">
                                <div class="p-col-12 p-md-12 p-lg-12">
                                    <span class="p-float-label">
                                        <textarea pInputTextarea id="inputToken" [rows]="3" [cols]="30"  name="inputToken"
                                            #inputToken="ngModel" required autoResize="autoResize"
                                            [(ngModel)]="token" placeholder="Token"></textarea>
                                    </span>
                                </div>
                                <div class="p-col-12 p-md-6 p-lg-6">
                                    <span class="p-float-label">
                                    <input type="password" pPassword [(ngModel)]="pass0" feedback="false"
                                           weakLabel="Débil" required
                                           strongLabel="Fuerte" #pass00="ngModel"
                                           mediumLabel="Media" promptLabel="Contraseña"
                                           (ngModelChange)="mouseOutPass($event)" name="pass00"/>
                                    <label>Contraseña*</label>
                                </span>
                                    <div *ngIf="!match" class="ui-message p-error ui-corner-all">
                                        Las contraseñas no coinciden
                                    </div>

                                </div>
                                <div class="p-col-12 p-md-6 p-lg-6">
                                    <span class="p-float-label">
                                    <input type="password" pPassword [(ngModel)]="pass1" feedback="false"
                                           weakLabel="Débil" required
                                           strongLabel="Fuerte" #pass01="ngModel"
                                           mediumLabel="Media" promptLabel="Repita la contraseña"
                                           (ngModelChange)="mouseOutPass($event)"
                                           name="pass01"/>
                                    <label>Repita la contraseña*</label>
                                </span>
                                    <div *ngIf="!match" class="ui-message p-error ui-corner-all">
                                        Las contraseñas no coinciden
                                    </div>
                                </div>
                            </div>
                            <div class="p-grid p-jc-center">
                                <div class="p-col-2">
                                    <button pButton label="Cambiar contraseña" icon="ui-icon-autorenew" (click)="cambiaPassw()" [disabled]="!formaRegistro.valid"></button>
                                </div>
                            </div>
                            <div class="p-grid p-jc-center">
                                <div class="p-col-2">
                                    <button pButton type="button" label="Login" icon="ui-icon-account-circle" routerLink="/login"></button>
                                </div>
                            </div>
                        </form>

                    </div>

                </div>

            </div>
        </div>
    </div>
</block-ui>
<p-dialog header="Operación exitosa" [(visible)]="display" modal="true">
    Nuevo usuario creado.
    <p-footer>
        <div class="p-grid">
            <div class="p-col-12 p-md-12 p-lg-12">
                <button pButton type="button" label="Ok" style="width:140px;display: block; margin-left: auto; margin-right: auto;" icon="ui-icon-check" (click)="closeDialog()"></button>
            </div>
        </div>
    </p-footer>
</p-dialog>